<%- include("header") -%>

<div class="container-sm col-lg-12 col-sm-12 text-center">
  <h1 class="" style="text-align: center;"> 
    <img style="width: 25px; height: 25px; border-radius: 50%;" src="https://images.pexels.com/photos/247676/pexels-photo-247676.jpeg?auto=compress&cs=tinysrgb&w=600" alt=""> Immortal Yoga Classess</h1>
  
  <div class="box">    
  <form class="" action="/" method="POST">
          <div class="row justify-content-center d-flex">
                  <input type="text" class="form-control" name="name" placeholder="Full Name" 
                  autocomplete="off" required> <br>

                  <input type="text" class="form-control" name="email" placeholder="Enter Email Id"
                  autocomplete="off" required> <br>

              
                  <input type="text" class="form-control" name="mobileNo" placeholder="Enter Mobile Number" 
                  autocomplete="off" required> <br>

              
                  <input type="text" class="form-control" name="gender" placeholder="Enter Gender" 
                  autocomplete="off" required> <br>

              
                  <input type="text" class="form-control" name="age" placeholder="Enter Age"
                  autocomplete="off" required> <br>

              
                  <input type="text" class="form-control" name="paymentStatus" placeholder="Enter Payment Status"  
                  autocomplete="off"   required> <br>

              
                  <input type="text" class="form-control" name="month" placeholder="Enter Month to start from" 
                  autocomplete="off"  required>      <br>        
              
                <br>
                <div class="batchdeails">
                  Select Batch:  <br> 1) 6-7 AM <br> 2) 7-8 AM <br> 3) 8-9 AM <br> 4) 5-6 PM <br> <br>
                </div>
                  <input type="text" class="form-control" name="batch" placeholder="Enter Batch Timming"
                       >
              </div>

          <div class="justify-content-center d-flex mt-4">
              <button id="publishBtn" class="btn btn-primary w-25 py-2">Submit</button>
          </div>
      </form>
    </div>
    </div>

<%- include("footer") -%>
