<%- include("header") -%>

<div class="cotainer-sm col-lg-12 col-sm-12">
  <div class="box" id="heading">
    <h1><b> Immortal Yoga Classess </b></h1>
  </div>

  <div class="box">
    <form class="" action="/" method="POST">
        <div class="item">
          <input type="text" class="form-control" name="name" placeholder="Full Name" 
          autocomplete="off" required> <br>
        </div>

        <div class="item">
          <input type="text" class="form-control" name="email" placeholder="Email Id"
          autocomplete="off" required> <br>
        </div>

        <div class="item">
          <input type="text" class="form-control" name="mobileNo" placeholder="Mobile Number" 
            autocomplete="off" required> <br>
        </div>

        <div class="item">
          <input type="text" class="form-control" name="gender" placeholder="Gender" 
            autocomplete="off" required> <br>
        </div>

        <div class="item">
          <input type="text" class="form-control" name="age" placeholder="Age"
                  autocomplete="off" required> <br>
        </div>

        <div class="item">
          <input type="text" class="form-control" name="paymentStatus" placeholder="Payment Status"  
                  autocomplete="off"   required> <br>
        </div>
        
        <div class="item">
          <input type="text" class="form-control" name="month" placeholder="Month to Start From" 
          autocomplete="off"  required><br>
        </div>

        <div class="item">
          <input type="text" class="form-control" name="batch" placeholder="Select Batch" 
          autocomplete="off"  required><br>
        </div>

      <div class="item" style="background-color: #E4E9FD;">
        <button type="submit" style="width: 400px; border-radius: 1%;"><b> Submit </b></button>
      </div>
    </form>
  </div>
</div>
<%- include("footer") -%>
